#nav{
    background-color: black;
    text-align: center;
    }

#phone{
    color: white;
    font-size: 20px;
    margin-right: 100px;
    
}    


#time{
    color: white;
    font-size: 20px;
}

