#nav{
    background-color: black;
    text-align: center;
    margin-bottom: -30px;
    }

#phone{
    color: white;
    font-size: 20px;
    margin-right: 100px;
    
}    


#time{
    color: white;
    font-size: 20px;
}

#nav2{
    text-align: center;
    font-size: x-large;
}

#nav2 h2{
    text-align: center;
    font-size: 25px;
    margin-top: -30px;
    padding-left: 20px;
}

.navbar{
    text-align: center;
    
}

.navbar ul li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin: auto;
    padding-left: 20px;
    
}

.navbar ul li a{
    
}
