body, html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    
  }
  
  
  
#nav{
    background-color: black;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 1px;
    
    }

#phone{
    color: white;
    font-size: 20px;
    margin-right: 100px;
    
}    


#time{
    color: white;
    font-size: 20px;
}

#nav2{
    text-align: center;
    font-size: x-large;
    margin-top: -25px;
}

#nav2 h2{
    text-align: center;
    font-size: 25px;
    margin-top: -30px;
    padding-left: 20px;
}

.navbar{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.navbar ul li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin: auto;
    padding-left: 20px;
    
}

.navbar ul li a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 20px;
    letter-spacing: .5px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}

ul li a:hover{
    transform: scale(1.4);
    z-index: 1000;
    background: darkgrey;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
}

#mission p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}